<a href="https://colab.research.google.com/github/MissK143/MissK143.github.io/blob/main/Introduction_to_Python_For_Loops.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lesson 6 : For Loops

## Introduction

### What Are For Loops?
A `for` loop in Python allows you to iterate over a sequence (like a list, tuple, dictionary, set, or string) and execute a block of code repeatedly for each item in the sequence. This is one of the most common loop mechanisms in Python, especially useful for processing items in collections.

#### When to Use a For Loop?
- Iterating through items in a list, tuple, or any iterable.
- Performing an action a specific number of times using a range.

### Basic Syntax
The basic syntax of a `for` loop is:

```python
for variable in iterable:
    # Code to execute for each element
```
* **Variable**: This represents the current element in the iteration. Each iteration updates this variable with the next element in the iterable.
* **Iterable**: This is a collection of items over which the loop will run (e.g., list, tuple, string).

In [ ]:
# Here's a basic example of a `for` loop that iterates over a list of numbers and prints each number.
numbers = [1, 2, 3, 4, 5]

In [ ]:
for number in numbers:
    print(number)

1
2
3
4
5

In [ ]:
# Create a for loop that iterates over a list of numbers and prints the number multiplied by 2
for x in numbers:
  print(f"The number is {x}")
  print(f"The number {x} multiplied by 2 is {x*2}")

The number is 1
The number 1 multiplied by 2 is 2
The number is 2
The number 2 multiplied by 2 is 4
The number is 3
The number 3 multiplied by 2 is 6
The number is 4
The number 4 multiplied by 2 is 8
The number is 5
The number 5 multiplied by 2 is 10

In [ ]:
# Create a list for salaries of employees and give every employee a bonus of 2.5% of their salary
# Out of the bonus amount, also remove $5 as the transaction fee

salary = [10000, 20000, 50000, 15000, 90000]

for i in salary:
  print(f"The salary for this employee is {i}")
  print(f"The bonus amount for this person is {0.025*i}")
  print(f"The final amount after the transaction fee is {0.025*i - 5}")
  print("------------------------------------------------------------")

The salary for this employee is 10000
The bonus amount for this person is 250.0
The final amount after the transaction fee is 245.0
------------------------------------------------------------
The salary for this employee is 20000
The bonus amount for this person is 500.0
The final amount after the transaction fee is 495.0
------------------------------------------------------------
The salary for this employee is 50000
The bonus amount for this person is 1250.0
The final amount after the transaction fee is 1245.0
------------------------------------------------------------
The salary for this employee is 15000
The bonus amount for this person is 375.0
The final amount after the transaction fee is 370.0
------------------------------------------------------------
The salary for this employee is 90000
The bonus amount for this person is 2250.0
The final amount after the transaction fee is 2245.0
------------------------------------------------------------

In [ ]:
# Here's a basic example of a `for` loop that iterates over a list of items in a grocery store.
produce = ["apple","banana","strawberry","blueberry","watermelon"]

for item in produce:
  print(item)

apple
banana
strawberry
blueberry
watermelon

## Combining If Statements with For Loops
Combining `if` statements with `for` loops in Python allows you to selectively execute code based on conditions for each item in a loop. This is useful for filtering items, applying specific operations to certain elements, and more.

#### When to Use an If Statement in a For Loop?
- To perform different actions for different values in a sequence.
- To filter out elements that meet specific criteria.
- To count or accumulate values conditionally.

### Basic Concept and Syntax
The general pattern involves setting up a `for` loop to iterate over a collection and then placing an `if` statement inside the loop to test each element.

```python
for item in iterable:
    if condition:
        # Code to execute if condition is True

In [ ]:
# Let's start with a basic example where we print only even numbers from a list.
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
for x in numbers:
    if x % 2 == 0:
        print(x)

2
4
6
8
10

### Filtering Data
A common use of combining `if` statements with `for` loops is filtering data, such as extracting specific elements from a list that meet a certain condition.

#### Example: Filtering a List
Here, we'll create a new list that only includes numbers greater than 5.

In [ ]:
# Example: Filtering a list
original_numbers = [2, 5, 12, 13, 17, 4, 18, 23]
filtered_numbers = []

for number in original_numbers:
    if number > 20:
        filtered_numbers.append(number)

print("Filtered numbers:", filtered_numbers)

Filtered numbers: [23]

### Applying Conditional Logic to Perform Different Actions
You can use multiple `if` or `elif` clauses within a loop to perform different actions for different items.

#### Example: Different Actions Based on Value

In [ ]:
# Example: Different actions based on the value
ages = [15, 32, 44, 21, 65, 13]

for age in ages:
    if age < 18:
        print(f"{age} years: Underage")
    elif age < 65:
        print(f"{age} years: Adult")
    else:
        print(f"{age} years: Senior")

15 years: Underage
32 years: Adult
44 years: Adult
21 years: Adult
65 years: Senior
13 years: Underage

### Using `range()` Function
The `range()` function is often used in `for` loops to generate a sequence of numbers, making it useful for running a loop a specific number of times.

#### Syntax of `range()`:
- `range(stop)`: Generates numbers from 0 to `stop-1`
- `range(start, stop)`: Generates numbers from `start` to `stop-1`
- `range(start, stop, step)`: Generates numbers from `start` to `stop-1`, incrementing by `step`

#### Examples:

In [ ]:
# Example of for loop with range
for i in range(5):
    print(i)  # Prints numbers from 0 to 4

0
1
2
3
4

In [ ]:
for i in range(25, 50):
    print(i)  # Prints numbers from 1 to 5

25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49

In [ ]:
for i in range(0, 11, 2):
    print(i)  # Prints even numbers from 0 to 8

0
2
4
6
8
10

In [ ]:
# Iterate over a string
word = "appleskjd[fbhsbegw4b5guw45nwlkn.ksnksdbfgosd'gonsldnv sdkfb ksdfv'alnkjsbdv s, diabetes lzkn;xcvnblns/gmsh d,.fhkn'nasdl'kng;oafbdg;lsdfng./sndf.kb sk sdnfgoaj'prtj3q'j5'9mgapmrgameg;onsdf/g'psj95js/lndfgjsndflnsldfnbslkdfnblsdfbdsdfbsfdb"

In [ ]:
x = word.split()

In [ ]:
print("obesity" in x)

False